<div id="about-us" class="about-us" data-magellan-target="about-us">
  <h2 class="text-center">About Us</h2>
  <div class="row medium-unstack text-center">
    <div class="small-6 columns">
      <i class="fi-checkbox"></i>
      <h3>Amazing Service</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="small-6 columns">
      <i class="fi-clock"></i>
      <h3>Unbelievably Fast</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="small-6 columns">
      <i class="fi-css3"></i>
      <h3>For Devs</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="small-6 columns">
      <i class="fi-dollar"></i>
      <h3>Best Price</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div><!-- row -->
</div><!-- about-us -->
