
<div id="main-navigation" class="main-navigation">
  <div class="responsive-menu" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>


<nav id="main-menu" class="row">
  <ul class="menu vertical expanded text-center">
    <li><a href="#home" title="Home">Home</a></li>
    <li><a href="#about-us" title="About Us">About Us</a></li>
    <li><a href="#our-designs" title="Our Designs">Our Designs</a></li>
    <li><a href="#testimonials" title="Testimonials">Testimonials</a></li>
    <li><a href="#send-your-design" title="Send Your Design">Send Your Design</a></li>
  </ul>
</nav>
</div>
