<div id="send-your-design" class="send-your-design" data-magellan-target="send-your-design">
  <h2 class="text-center">Send Your Design</h2>

  <div class="row align-center">
    <div class="medium-8 columns">
      <div class="form-container">
        <form>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
                <legend>We can print your design! Just fill the following form</legend>
                  <label>Name
                    <input type="text" placeholder="Your Name">
                  </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
                  <label>Email
                    <input type="email" placeholder="Your Email">
                  </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
                  <label>Message
                    <textarea placeholder="Your Message"></textarea>
                  </label>
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
                  <label for="uploadFile" class="button">Upload File</label>
                  <input type="file" id="uploadFile" class="show-for-sr">
            </div>
          </div>
          <div class="row align-center">
            <div class="medium-8 small-10 columns">
                  <input type="submit" class="button secondary" value="Send">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
